.banner{
    &-text{
    text-align: center;
    @media (min-width: 768px){
            text-align: left;
            border-left: 1px solid white;
            padding-left: 3rem;
        }
    }	
   
    padding-top: 3rem ;
    padding-bottom: 3rem;
}