.box-card{
    .number{
        color: $white;
        background-color: $beige;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 1.3rem;
        padding-top: 6px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    hr{
        max-width: 10%;
        border-color: $secondary;
        border-width: 3px;
    }
    .content{
        margin: 1rem;
        padding: 2rem;
    }
    p{
        margin-bottom: 1rem;
        
    }
}