// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
// _buttons.scss

// Define variables for button styles
$button-padding: .8rem 3.5rem;
$button-border-radius: 25px;
$button-font-size:  .85rem;
$button-solid-bg: $gray-400;
$button-solid-color: $gray-900;
$button-outline-border: 1px solid $primary;
$button-outline-color: $primary;
$button-font-family: $headings-font-family;

// Common styles for both buttons
@mixin button-base() {
  padding: $button-padding;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;  
  transition: .2s;
  top: 0;
}

// Solid button
.button {
  @include button-base();
  background-color: $button-solid-bg;
  color: $button-solid-color;
  &:hover, &:active, &:focus {
    background-color: darken($button-solid-bg, 10%);
    color: $button-solid-color;
  }

  &-big{
    padding: 0.7rem 1.5rem;
  }
}

// Outline button
.button-outline {
  @include button-base();
  border: $button-outline-border;
  color: $button-outline-color;
  background-color: transparent;

  &:hover, &:active, &:focus {
    background-color: $button-outline-color;
    color: $button-solid-color;
  }
}
