.card-loop{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .entry-meta{
        margin-top: 0.5rem;
    }
    .entry-title{
        margin-top: 0.5rem;
    }
}

.pagination{
    width: 100%;
    justify-content: center;
    margin: 1.5rem auto;
    .page-numbers{
        background-color: $primary;
        color: $white;
        padding: 5px 15px;
        &.current{
            background-color: $gray-500;
        }
    }
}