.site-footer{
    img{
        max-width: 80px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.footer-area{
    ul{
        display: flex;
        flex-direction: row;
        padding-left: 0;
        list-style: none;
        justify-content: center;
        flex-wrap: wrap;
        li a{
            margin-right: 1rem;
            text-transform: uppercase;
        }
    }
}