.site-footer{
    img{
        max-width: 80px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.footer{
    margin-bottom: -1px;
    p{
        color: $white;
    }
    h3{
        color: $white;
    }
}