/*Hero*/
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  overflow: hidden;
  min-height: 700px;
  position: relative;
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;

  &-title-up{
    text-transform: uppercase;
		font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    display: block;
		@media (min-width: 479px){
			font-size: 2rem;
		  }		 
    @media (min-width: 768px){
      font-size: 2rem;
      }	
  }
  &-title-down{
    text-transform: uppercase;
		font-size: 3.5rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    display: block;
		@media (min-width: 479px){
			font-size: 4.5rem;
		  }		 
    @media (min-width: 768px){
      font-size: 5.6rem;
      }	
  }
}

img.hero-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-wrapper {
  position: relative;
  background: rgb(31,41,55);
  background: linear-gradient(0deg, rgba(31,41,55,1) 10%, rgba(31,41,55,0) 60%);  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 700px;
  text-align: center;
  padding-bottom: 2rem;
}
.hero-description{
  max-width: 80%;
}

@media (min-width: 768px) {
  .hero-description{
    max-width: 600px;
  }
  
}

.cover {
  &-title {
    font-size: $h2-font-size;
  }
}

.cover-page {
  position: relative;
  width: 100%;
  padding-top: 250px;
  overflow: hidden;
  .hover {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.55);
}
  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
  .entry-title {
    position: absolute;
    top: 40%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $white;
  }
}
