
  .wp-block-image{
    max-width: 100%;
    img{
      border-radius: 4px!important;;
      max-width: 100%;
      height: 100%;
    }
  }
  .card-image{
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .box-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 200px;
    .fluido {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
      
  }

  img{
    max-width: 100%;
  }

  iframe{
    max-width: 100%;
  }

  .rounded-img{
    border-radius: 10px;
  }