.box-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 300px;
    .fluido {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    
  }

  .overlay{
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.6);
    }
  }

  .play-icon{
      max-width: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }