// Base styling for the navbar
#mainNav {
    background-color: $navbar-color;
    min-height: $navbar-height;
    padding: 0 1rem;
    .navbar {
        &-brand {
            font-family: $navbar-font-family;
            color: $navbar-text-color;
            text-transform: uppercase;
            font-size: 1rem;
            margin: auto;
            img {
                max-width: 250px;
            }
        }
       
        &-toggler {
            border-color: transparent;
            &-icon {
                // background-image: url("../../../assets/img/menu.svg");
                max-width: 85%;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.pre-navbar {
    background-color: $secondary;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
        .textwidget {
            font-size: 0.7rem;
            color: $primary;
        }
        .social-icon{
            margin-right: 1rem;
            margin-left: 1rem;

            i{
                font-size: 1rem;
                margin: 0 0.5rem;
                color: $white;
                padding: 0.5rem;
            }
        }
    }
    .icon{
        &-phone{
            max-height: 15px;
    margin-right: 0.2rem;
        }
        &-email{
            max-width: 15px;
    margin-right: 0.2rem;
        }
    }
}