#mainNav {
    background-color: $navbar-color;
    min-height: $navbar-height;
    padding: 0 1rem;
    .navbar {
        &-brand {
            font-family: $headings-font-family;
            color: $navbar-text-color;
            text-transform: uppercase;
            font-size: 1rem;
            margin: auto;
            img {
                max-height: 60px;
            }
        }
        &-toggler {
            border-color: transparent;
            &-icon {
                // background-image: url("../../../assets/img/menu.svg");
                max-width: 85%;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .navbar-nav{
        text-transform: uppercase;
        .nav-link{
            font-family: $headings-font-family;
            color: $primary;
            font-weight: 400;
            font-size: 0.8rem;
            &:hover{
                font-weight: 700;
            }
        }
    }
}
