.wp-block-latest-posts {
  &__list {
      a{
          font-size: $h4-font-size;
      }
  }
  &__featured-image {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 4px;
    img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

.wp-block-separator{
  border: none;
}


.widget .wp-block-latest-posts {
  &__list {
    list-style: initial;
      a{
          font-size: $font-size-base;
      }
  }
}