// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// https://bootstrapvars.com/4.4/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

$red:                         #f05555;
$purple:                      #83206F;
$beige:                       #d5c5c8;
$gray-100:                    #f7f7f7;
$gray-200:                    #e4e4e4;
$gray-900:                    #30302e;
$primary:                     #121212;
$secondary:                     $beige;
$success:                       $secondary;
$info:                          $gray-900;
$warning:                       $primary;
$danger:                        $red;
$black:                       #000000;
$white:                       #f2f2f2;


// Text Colors
$text-color-1:                  #121212;
$text-color-a:                  $black;

// Font Family
// $font-family-playfair:          "Playfair Display", serif;
// $font-family-heebo:             "Heebo", sans-serif;
// $font-family-roboto:            "Roboto", sans-serif;
// $font-family-natosans:          "Nato Sans", sans-serif;
$font-family-josefin:           "Josefin Sans", sans-serif;
$font-family-dosis:            "Dosis", sans-serif;
$font-family-opensans:          "Open Sans", sans-serif;


// Font Size
$font-size-base: 1rem;

// Font Weight
$font-weight-lighter:           lighter;
$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-medium:            500;
$font-weight-semibold:          600;
$font-weight-bold:              700;
$font-weight-bolder:            800;
$font-weight-black:             900;
$font-weight-base:              $font-weight-light;
$line-height-base:              1.5;

// Header
$h1-font-size:                  $font-size-base * 2;
$h2-font-size:                  $font-size-base * 1.7;
$h3-font-size:                  $font-size-base * 1.3;
$h4-font-size:                  $font-size-base * 0.9375;
$h5-font-size:                  $font-size-base * 0.75;
$h6-font-size:                  $font-size-base * 0.6875;
$h1-line-height:                $font-size-base * 2.2;
$h2-line-height:                $font-size-base * 3;
$h3-line-height:                $font-size-base * 2.25;
$h4-line-height:                $font-size-base * 1.5;
$h5-line-height:                $font-size-base * 1.5;
$h6-line-height:                $font-size-base * 1.5;

// Header Touch
$h1-font-size-touch:            $font-size-base * 1.75;
$h2-font-size-touch:            $font-size-base * 1.4;
$h3-font-size-touch:            $font-size-base * 1.0625;
$h4-font-size-touch:            $font-size-base * 0.875;
$h5-font-size-touch:            $font-size-base * 0.75;
$h6-font-size-touch:            $font-size-base * 0.6875;
$h1-line-height-touch:          $font-size-base * 2.5;
$h2-line-height-touch:          $font-size-base * 2.25;
$h3-line-height-touch:          $font-size-base * 1.5;
$h4-line-height-touch:          $font-size-base * 1.5;
$h5-line-height-touch:          $font-size-base * 1.5;
$h6-line-height-touch:          $font-size-base * 1.5;


// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px
);

// Grid containers
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1150px,
  xxl: 1310px
);

// Font overrides

$font-family-base: $font-family-opensans !default;
$headings-font-family: $font-family-dosis !default;

// Custom variables
$navbar-height: 90px;

$text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
$text-shadow-2: 0 1px 2px rgba(0, 0, 0, 0.5);

$navbar-color: $primary;
$navbar-cta-color: #ffffff;
$navbar-cta-bg-color: $primary;
$navbar-text-color: #ffffff;
$navbar-text-color-hover: rgba(200, 200, 200, 0.2);
$navbar-font-family: $headings-font-family;
$navbar-font-weight: $font-weight-base;

$navbar-togle-collapse: $primary;
$navbar-togle-collapse-line: #ddd;