// 1. Vendors
@import
'./vendors/normalize',
'./vendors/bootstrap',
'./vendors/wordpress';

// 2. Configuration and helpers
@import
  './abstracts/variables',
  './abstracts/functions',
  './abstracts/mixins';

// 3. Base stuff
@import
  './base/base',
  './base/fonts',
  './base/typography',
  './base/helpers';

// 5. Components
@import
  './components/navbar',  
  './components/hero',
  './components/card-loop',
  './components/footer', 
  './components/image',
  './components/button',
  './components/input';

  // 6. Page
  @import
    './page/home';
